/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Rspec failure tracking
.rspec_status
coverage
*.gem
**/.DS_Store

# Compiled Kotlin/Java class files
*.class

# IntelliJ IDEA files
.idea/

# Gradle files
.gradle/
build/
